body{

    .container {
        display: flex;
        justify-content: center;
        padding: 20px;
       
    }

    .button
    {
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin:10px;
        width: 350px;
        height: 150px;
        border: 10px;
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: box-shadow 0.3s ease-in-out;
    }

    .announcement
    {
        background-color: rgb(146, 202, 162);
    }

    .members
    {
        background-color: rgb(144, 144, 216);
    }

    .addmember
    {
        background-color: rgb(188, 216, 144);
    }

    .make
    {
        background-color: rgb(146, 202, 162);
    }

    .show
    {
        background-color: rgb(144, 144, 216);
    }
}


